#fb{
  --padding-bottom:20px;
  --padding-top:20px;
}

#emailbtn{
  --padding-bottom:20px;
  --padding-top:20px;
}

.div1{
  border: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
}
