<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">

    <ion-tab-button tab="requests" >
      <ion-icon name="car"></ion-icon>
      <ion-label>{{"REQUESTS"|translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tasks">
      <ion-icon name="card"></ion-icon>
      <ion-label>{{"MY_TASKS"|translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>{{"SETTINGS"|translate}}</ion-label>
    </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
