<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-title color="primary">{{"MOVABLES_DETAILS"|translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-forward" slot="start" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="sendProposal(model)">{{"SEND_PROPOSAL"|translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="model? model.customer.phoneNumber:false">
    <ion-fab-button color="light" >
      <a href="tel:"{{ model.customer.phoneNumber}} color="primary">
        {{"CALL"|translate}}
      </a>

    </ion-fab-button>
  </ion-fab>
  <ion-grid *ngIf="model">
    <ion-row>
      <ion-col>
         <ion-item lines="none" >
        <ion-label  position="stacked">{{"FROM"|translate}}</ion-label>
        <ion-input readonly>{{model.sourceFormattedAddress}}</ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">{{"TO"|translate}}</ion-label>
        <ion-input readonly>{{model.destFormattedAddress}}</ion-input>
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label position="stacked">{{"CUSTOMER_NOTES"|translate}}</ion-label>
        <ion-input readonly>{{model.customerNotes}}</ion-input>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let img  of images;let i = index">
      <ion-col size="6">
        <ion-img [src]="img.imageName"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
