<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="back()" fill="clear" color="primary">
        {{"BACK"|translate}}
        <ion-icon name="arrow-forward-circle" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating">{{"PROPOSAL_VALUE"|translate}}</ion-label>
    <ion-input [(ngModel)]="payload.estimatedCost"></ion-input>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-button fill="clear" expand="full" color="light"
    (click)="setPropodsalVale()">{{"SEND_PROPOSAL"|translate}}</ion-button>
  </ion-toolbar>
</ion-footer>
